body {
    background: #002A4D;
}
.main-movie-detail {
    margin-bottom: 20px;
}
.movie-title, .movie-detail{
    color: white;
}
.movie-detail hr {
    margin-top: 2px;
}
.movie-detail h4:first-child {
    margin-top: 0;
}
.movie-detail h4 {
    margin-top: 20px;
}
.movie-detail .box {
    margin-top: 20px;
}
.main-watch-later {
    margin-top: 20px;
}
/*styling source https://www.w3schools.com/css/css_align.asp*/
.movie-poster img {
    display: block;
    margin: auto 50px auto auto;
}

/*styling source: http://webredox.net/demo/wp/movieme/light/*/
td {
    padding: 0 10px 2px 0;
}
/*styling source: https://ganool.se/*/
img.homethumb{
	width: 100% !important;
    height: auto !important;
    min-height: 100% !important;
    background-position: 50% 25%;
    background-size: cover;
}
.watch-later-list .movimgbox {
    height: 230px;
    background: rgba(26,26,26,1);

    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}
.watch-later-list .movimgbox .ml-mask:after, .watch-later-list .movimgbox .ml-mask:before {
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    z-index: 4;
}
.watch-later-list .movimgbox .ml-mask:before {
    content: "";
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.watch-later-list .movimgbox .ml-mask:hover img{
    opacity: 0.4!important;
}
.watch-later-list .movimgbox .mli-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    color: white;
    text-align: center;
    background: url(https://ganool.se/wp-content/themes/newganool/images/mask-title.png) top repeat-x;
    z-index: 5;
}
.watch-later-list .movimgbox .ml-mask:after {
    content: "";
    width: 100px;
    height: 65px;
    background-image: rgba(0,0,0,0.6);
    background-position: 50% 25%;
    background-size: cover;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -50px;
}
.watch-later-list .movimgbox .ml-mask:hover:after {
    opacity:1 !important;
}
.footer-bs {
  background-color: #1A1A1A;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	margin-bottom: 20px;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}
@media only screen and (max-width: 768px) {
    .movie-poster {
        margin-bottom: 30px;
    }
    .movie-detail .box {
        text-align: center;
    }
}
